<div class="widget">
  <div class="container">

    <div class="panel panel-default">
      <div class="panel-body">
        <h3>Search for companies/people blacklisted by the National Treasury</h3>
        <p><em>Data sourced from Treasury</em></p>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for..." disabled>
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" disabled="disabled">
              <i class="fa fa-btn fa-spinner fa-pulse"></i>
            </button>
          </span>
        </div><!-- /input-group -->
        <p class="examples text-muted"><small>Examples: <span></span></small></p>
        <hr/>

        <div class="results hidden">
          <ul class="results-list list-group"></ul>
          <hr/>
        </div>

        <p class="attribution"><small>[
          <a href="{{ site.url }}" target="_blank" rel="noopener noreferrer">
            {{ site.title }}
          </a>
        ]</small></p>
      </div> <!-- /.panel-body -->
    </div> <!-- /.panel -->

  </div> <!-- /.container -->
</div> <!-- /.widget -->
